*{
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
}
body {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    background-color: #a4b0be;
    overflow-x: hidden;
	padding: 0;
	margin: 0;
}
a {
    cursor: pointer;
    transition: all 200ms linear;
	text-decoration: none;
}

.link {
    color: black;
}
.link:hover {
    color: skyblue;
}
p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}
h4 {
    font-weight: 600;
	text-align: center;
	font-size: 20px;
}
h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.dwo {
    position: relative;
    width: 100vw;
	height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
}
.full-height {
    height: 150%;
}

/* 设置被选中 */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
/* 设置被选中样式 */
.checkbox:checked + label,
.checkbox:not(:checked) + label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffeba7;
}

/* 在checkbox:checked类下的checked和label之前执行｛｝里面的内容*/
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ffeba7;
    background-color: #102770;
    font-family: "unicons";
    content: "\eb4f";
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}
.checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}

/* 设置卡片位置 */
.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 450px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
}
/* 卡片主体外盒子，设置阴影等样式 */
.card-3d-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
	border-radius: 40px;
	background: linear-gradient(145deg, #afbccb, #949eab);
	box-shadow:  8px 8px 18px #7e8892,
	             -8px -8px 18px #cad8ea;
}

/* 卡片主体，设置背景等 */
.card-front,
.card-back {
	width: 100%;
	height: 100%;
	background-color:#a4b0be;
	background-image: url("../img/pat.svg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 300%;
	position: absolute;
	border-radius: 6px;
	left: 0;
	top: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid #ffffff21;
	border-radius: 40px;
}
/* 背面的注册设置翻转 */
.card-back {
    transform: rotateY(180deg);
}
/* 正面登录设置翻转 */
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}
/* 中间输入区域 */
.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}

.pb-3{
	display: block;
	width: 80%;
}

/* 用户名输入框位置 */
.form-group {
    display: block;
    margin-bottom: 10px;
    padding: 0;
}

/* 输入框样式 */
.form-style {
    padding: 13px 20px;
    padding-left: 20px;
    height: 25px;
    width: 70%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    background-color: #C0C2C4;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* 输入框获取焦点样式 */
.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}



/* 
:-ms-input-placeholder伪类表示表单元素的占位符文本。
这允许web开发人员和主题设计人员定制占位符文本的外观
在该字段具有焦点前，占位符文本以指定的样式显示，
暗示可以向该字段输入字符。当该字段获得焦点时，
它将变回输入字段的正常样式，占位符文本消失。 
*/
.form-group input:-ms-input-placeholder {
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* 登录注册按钮样式 */
.btn {
    border-radius: 4px;
    height: 44px;
	margin-top: 5px;
    font-size: 15px;
    font-weight: 1000;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    color: #102770;
	background: linear-gradient(145deg, #afbccb, #949eab);
	box-shadow:  5px 5px 10px #828b96,
	             -5px -5px 10px #c6d5e6;
}

.btn:hover {
    background: #A4B0BE;
    box-shadow: inset 5px 5px 10px #828b96,
                inset -5px -5px 10px #c6d5e6;
}

.mt-4{
	text-align: center;
	width: 85%;
}

label {
    margin-bottom: 0;
    cursor: pointer;
}
label:hover {
    color: skyblue;
}
