#content{
	height: 55rem;
	margin: 2.7rem 20px 10px 20px;
	display: flex;
	justify-content: space-around;
}

#content a{
	text-decoration: none;
	color: #7E8892;
}

#content p{
	margin-top: 2rem;
	color: #7E8892;
	line-height: 25px;
	font-weight: 800;
}

#content  ul li{
	line-height: 25px;
	font-weight: 600;
	font-size: 14px;
	margin-top: 10px;
	color: #7E8892;
}

#content  h4{
	display: block;
	width: 40%;
	font-size: 20px;
	text-align: center;
	color: #7E8892;
}

#content #left{
	width: 50%;
	height: 750px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#content #right{
	width: 45%;
	height: 750px;
	background-color: white;
	border-radius: 10px;
}


#content #left  #personal{
	height: 350px;
	width: 710px;
	display: block;
	background-color: white;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}

#content #left #personal #personal-left{
	display: block;
	margin: 40px;
	height: 19.0625rem;
	width: 40%;
}

#content #left  #personal #personal-left img{
	height: 10rem;
	border-radius: 5rem;
}

#content #left  #personal #personal-left #contact img{
	height: 20px;
	margin: 0 20px 0 10px;
}

#content #left #production{
	height: 350px;
	width: 710px;
	display: block;
	background-color: white;
	border-radius: 10px;
}

#content #left #production #production-main{
	display: block;
	width: 90%;
	margin: 0 auto;
}

#content #left #production p{
	margin: 0;
	line-height: 18px;
}

#content #left #production ul li img{
	height: 15px;
}

#content #left #production #more{
	display: block;
	width: 90%;
	text-align: right;
}

#content #left #production #more img{
	margin: 0.625rem 0 0.9rem 0;
	vertical-align:middle;
}

#content #left #personal #personal-right{
	display: block;
	height: 19.0625rem;
	width: 50%;
	margin: 0px 40px 0 0;
}

#content #right #right-main{
	width: 90%;
	margin: 0 auto;
} 





