#content #left #carousel{
	height: 35rem;
	background-color: white;
	margin: 1.25rem;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content #left #carousel img{
	width: 100%;
	height: 35rem;
	border-radius: 0.625rem;
}
#content #left #classify{
	height: 13.5rem;
	background-color: white;
	margin: 0 1.25rem 0 1.25rem;
	border-radius: 0.625rem;
}

#content #left #classify #classify-label{
	height: 2.8125rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#content #left #classify hr{
	width: 95%;
	border-top: 2px solid gainsboro;
	text-align:left;
	margin-left:1.25rem;
}

#content #left #classify #classify-label span{
	margin: 2rem;
	height: 1.25rem;
	font-size: 15px;
	font-weight: 600;
}

#content #left #classify #classify-label span a{
	margin: 0.5rem;
	font-size: 15px;
	font-weight: 600;
	display: block;
	text-decoration: none;
	color: black;
}

#content #left #classify #classify-label span img{
	margin: 0.625rem 0 0.9rem 0;
	height: 15px;
	vertical-align:middle;
}

#content #left #classify #classify-content{
	height: 8.55rem;
	display: flex;
	justify-content: space-around;
}
#content #left #classify #classify-content a{
	text-decoration: none;
	color: white;
}
#content #left #classify #classify-content span{
	width: 14rem;
	height: 8.55rem;
	margin: 0  0.625rem 0.625rem  0.625rem ;
	font-size: 15px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content #left #classify #classify-content #classify-1{
	background: url(../img/classify-1.jpg);
	background-size: 100%;
	border-radius: 10px;
}

#content #left #classify #classify-content #classify-2{
	background: url(../img/classify-2.jpg);
	background-size: 100%;
	border-radius: 10px;
}

#content #left #classify #classify-content #classify-3{
	background: url(../img/classify-3.jpg);
	background-size: 100%;
	border-radius: 10px;
}

#content #left #classify #classify-content #classify-4{
	background: url(../img/classify-4.jpg);
	background-size: 100%;
	border-radius: 10px;
}
#content #left #essay{
	height: 57rem;
	background-color: white;
	margin: 1.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 0.625rem;
}
#content #left #essay-order{
	height: 3rem;
	background-color: white;
	border-radius: 0.625rem 0.625rem 0  0;
	display: flex;
	align-items: center;
}

#content #left #essay-order #hot-essay{
	color: #a4b0be;
}

#content #left #essay-order span{
	margin: 1.5rem;
	font-size: 15px;
	font-weight: 600;
}

#content #left #essay .essays{
	margin-bottom: 15px;
	height: 9.375rem;
	border-bottom: 1px solid #EBEEF5;
	display: flex;
	justify-content: center;
}

#content #left #essay 
.essays .essays-left{
	height: 9.375rem;
	width: 20%;
}

#content #left #essay 
.essays .essays-left img{
	height: 9.375rem;
	width: 100%;
	border-radius: 10px;
}

#content #left #essay 
.essays .essays-right{
	height: 9.375rem;
	width: 75%;
}

#content #left #essay 
.essays .essays-right .essays-title{
	height: 2rem;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #000000;
}

#content #left #essay 
.essays .essays-right .essays-introduction{
	display: block;
	height: 5.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content #left #essay 
.essays .essays-right .essays-introduction p{
	line-height: 20px;
	margin: 0.625rem;
	color: #000000;
}
#content #left #essay
.essays .essays-right .essays-message{
	display: block;
	height: 1.875rem;
	display: flex;
	justify-content: space-between;
}
#content #left #essay
.essays .essays-right .essays-message span{
	margin: 0 0.625rem 0 0.625rem;
}