#content #right #about{
	width: 20vw;
	height: 20rem;
	background:url(../img/right-backgroup.jpg);
	background-size: 110% 100%;
	background-position: -5px -55px;
	border-radius: 0.625rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#content #right #about #admin{
	width: 20vw;
	height: 15rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#content #right #about #admin div{
	height: 8rem ;
	text-align: center;
}
#content #right #about #admin div img{
	height: 5rem;
	border-radius: 2.5rem;
}
#content #right #about #admin div p{
	color: #7E8892;
	font-size: 15px;
}
#content #right #about #essay-condition{
	width: 20vw;
	height: 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#content #right #about #essay-condition span{
	font-size: large;
	font-weight: 600;
	height: 1.25rem;
	padding: 0.625rem;
}

#content #right #about #contact{
	width: 20vw;
	height: 3rem;
	display: flex;
	justify-content: space-around;
	align-items: space-around;
}
#content #right #label{
	width: 20vw;
	height: 17.5rem;
	margin-top: 1.25rem;
	background-color: white;
	border-radius: 0.625rem;
}

#content #right #label #label-title{
	height: 2.8125rem;
}

#content #right #label #label-title p{
	padding: 0.9375rem;
	text-align: left;
	font-size: 20px;
	font-weight: 600;
}

#content #right #label hr{
	width: 85%;
	border:none;
	border-top: 1px solid #7E8892;
	text-align:left;
	margin-left:1.25rem;
}

#content #right #label #label-content{
	height: 10rem;
	margin: 0.625rem;
	text-align: match-parent;
}

#content #right #label-content a{
	margin-left:5px ;
	padding: 5px;
	font-size: 15px;
	line-height: 3rem;
	white-space:nowrap;
	border: 1px solid #7E8892;
	text-decoration: none;
	color: #7E8892;
	border-radius: 5px;
}

#content #right #label #label-more{
	height: 3.125rem;
	text-align: right;
}

#content #right #label #label-more a{
	font-size: 15px;
	line-height: 24px;
	margin-right: 20px;
	text-decoration: none;
	color: #7E8892;
}	

#content #right #label #label-more a img{
	vertical-align:middle;
}