#content{
	height: 105rem;
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;
}

#content #left{
	width: 60vw;
	height: 105rem;
	margin-left: 10vw;
	border-radius: 10px;
}

#content #right{
	width: 20vw;
	height: 51.25rem;
	margin-right: 8vw;
	margin-top: 1.25rem;
	border-radius: 0.625rem;
	position: relative;
}

#content-footer{
	height: 3.75rem;
	width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content-footer a{
	text-decoration: none;
	color: #7E8892;
	padding: 10px 15px 10px 15px;
	white-space:nowrap;
	border-radius: 5px;
	background-color: white;
}

#content-footer a:hover{
	color: #000000;
}