#content{
	height: 98rem;
	margin-top: 1.25rem;
	display: flex;
	justify-content: space-between;
}

#content #left{
	width: 60vw;
	height: 98rem;
	background-color: #7E8892;
	margin-left: 10vw;
}

#content #right{
	width: 20vw;
	height: 51.25rem;
	margin-right: 8vw;
	border-radius: 0.625rem;
}

#content-footer{
	height: 3.75rem;
	background-color: cornsilk;
}