#content #right #about{
	width: 20vw;
	height: 30rem;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#content #right #about #admin{
	width: 20vw;
	height: 15.625rem;
	background-color: #0FFFC1;
}

#content #right #about #essay-condition{
	width: 20vw;
	height: 6.25rem;
	background-color: #0FFFC1;
}
#content #right #about #contact{
	width: 20vw;
	height: 6.25rem;
	background-color: #0FFFC1;
}
#content #right #label{
	width: 20vw;
	height: 20rem;
	background-color: #102770;
	margin-top: 1.25rem;
}

#content #right #label #label-title{
	height: 2.8125rem;
	background-color: #7E8892;
}

#content #right #label #label-content{
	height: 12.8125rem;
	margin: 0.625rem;
	background-color: #7E0FFF;
}

#content #right #label #label-more{
	height: 3.125rem;
	background-color: #C0C2C4;
}